<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @article.text %>
</p>

<%= link_to 'Back', articles_path  %>

<%# button_to 'Action', articles_action_path, method: :post %> 

